<html>
<head>
<title>Consumos</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table width="100%" border="1" bordercolor="#000000" cellspacing="0">
<tr>
    <td> 
      <div align="center"><font size="+1"><b>CONSUMO COMBUSTIBLES Y ENERGÍA EN 
        ARRANQUES.<br> GRUPO TÉRMICO: |root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NOM_FUNCIONAL|</b></font> </div>
    </td>
</tr>
<tr>
    <td>&nbsp; 


    </td>
</tr>
  <tr>
    <td>
      <table width="100%" border="1" bordercolor="#000000" cellspacing="0">
        <tr> 
          <td colspan="4"><b>A) CONSUMO DE GAS OIL (litros) en funci&oacute;n 
            del tipo y duraci&oacute;n de la parada</b></td>
        </tr>
        <tr> 
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr> 
          <td> 
            <div align="center"><b>ESTADO DE LA CALDERA</b></div>
          </td>
          <td colspan="3"> 
            <div align="center"><b>ESTADO DE LA TURBINA</b></div>
          </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td> 
            <div align="center">FR&Iacute;A(&gt;190 h.)</div>
          </td>
          <td> 
            <div align="center">TEMPL. (&gt;48 h.)</div>
          </td>
          <td> 
            <div align="center">CALIENTE (&lt;48 h.)</div>
          </td>
        </tr>
        <tr> 
          <td>FR&Iacute;A</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CFRIA_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CFRIA_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CFRIA_TCAL|&nbsp;</div>
          </td>
        </tr>
        <tr> 
          <td>EMBOTELLADA</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CEMB_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CEMB_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CEMB_TCAL|&nbsp;</div>
          </td>
        </tr>
        <tr> 
          <td>CALIENTE</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CCAL_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CCAL_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CG_CCAL_TCAL|&nbsp;</div>
          </td>
        </tr>
      </table>
</td>
</tr>
<tr>
<td>&nbsp;		
</td>
</tr>
<tr>
<td>&nbsp;		
</td>
</tr>
<tr>
<td>
      <table width="100%" border="1" bordercolor="#000000" cellspacing="0">
        <tr> 
          <td colspan="4"><b>B) CONSUMO DE FUEL OIL (kg) en funci&oacute;n del 
            tipo y duraci&oacute;n de la parada</b></td>
        </tr>
        <tr> 
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr> 
          <td> 
            <div align="center"><b>ESTADO DE LA CALDERA</b></div>
          </td>
          <td colspan="3"> 
            <div align="center"><b>ESTADO DE LA TURBINA</b></div>
          </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td> 
            <div align="center">FR&Iacute;A(&gt;190 h.)</div>
          </td>
          <td> 
            <div align="center">TEMPL. (&gt;48 h.)</div>
          </td>
          <td> 
            <div align="center">CALIENTE (&lt;48 h.)</div>
          </td>
        </tr>
        <tr> 
          <td>FR&Iacute;A</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CFRIA_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CFRIA_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CFRIA_TCAL|&nbsp;</div>
          </td>
        </tr>
        <tr> 
          <td>EMBOTELLADA</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CEMB_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CEMB_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CEMB_TCAL|&nbsp;</div>
          </td>
        </tr>
        <tr> 
          <td>CALIENTE</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CCAL_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CCAL_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CF_CCAL_TCAL|&nbsp;</div>
          </td>
        </tr>
      </table>
</td>
<tr>

<tr>
<td>&nbsp;		
</td>
</tr>
<tr>
<td>&nbsp;		
</td>
</tr>
<tr>
    <td> 
      <table width="100%" border="1" bordercolor="#000000" cellspacing="0">
        <tr> 
          <td colspan="4"><b>C) CONSUMO DE ENERGÍA (MWh) en funci&oacute;n del 
            tipo y duraci&oacute;n de la parada</b></td>
        </tr>
        <tr> 
          <td colspan="4">&nbsp;</td>
        </tr>
        <tr> 
          <td> 
            <div align="center"><b>ESTADO DE LA CALDERA</b></div>
          </td>
          <td colspan="3"> 
            <div align="center"><b>ESTADO DE LA TURBINA</b></div>
          </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td> 
            <div align="center">FR&Iacute;A(&gt;190 h.)</div>
          </td>
          <td> 
            <div align="center">TEMPL. (&gt;48 h.)</div>
          </td>
          <td> 
            <div align="center">CALIENTE (&lt;48 h.)</div>
          </td>
        </tr>
        <tr> 
          <td>FR&Iacute;A</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CFRIA_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CFRIA_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CFRIA_TCAL|&nbsp;</div>
          </td>
        </tr>
        <tr> 
          <td>EMBOTELLADA</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CEMB_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CEMB_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CEMB_TCAL|&nbsp;</div>
          </td>
        </tr>
        <tr> 
          <td>CALIENTE</td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CCAL_TFRIA|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CCAL_TTEMP|&nbsp;</div>
          </td>
          <td> 
            <div align="center">&nbsp;|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@NUM_CE_CCAL_TCAL|&nbsp;</div>
          </td>
        </tr>
      </table>
</td>
</tr>
<tr>
<td>
	<table width="100%" border="1" bordercolor="#000000" cellspacing="0">
		<tr>
			
          <td height="17"> 
            <div align="center"><b>OBSERVACIONES </b></div>
          </td>
		</tr>
		<tr align="left" valign="top"> 
          <td heigh="130" height="144">|root.CENOPE_QRY_PAFU_OBT_DATOS_CONSUMOS.Row@DES_OBSERVACIONES|&nbsp; 
          </td>
		</tr>
	</table>
</td>
</tr>

</table>
</body>
</html>
